<style>
    .box{
        padding:20px 0px;
    }

    .box-part{
        background:#FFF;
        border-radius:0;
        padding:20px 10px;
        margin:30px 0px;
    }
</style>
<div class="row">
    <div class="col-md-4">
        <p class="lead"><strong jhiTranslate="home.best_score_of_vnua">Điểm cao nhất trường</strong></p>
        <ol>
            <li *ngFor="let student of topStudents; let i = index" [style.color]="i<10 ? 'red' : i<20?'blue': i<30?'green' : 'black'">
                {{ student.fullname }} - {{ student.studentID }} ({{ student.diemtbtl10 }})
            </li>
        </ol>
    </div>
</div>
