<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <p class="lead"><strong jhiTranslate="home.searchStudentInformation"></strong></p>

            <div class="col-md-4">
                <form name="searchForm" role="form" novalidate (ngSubmit)="search()" [formGroup]="searchForm">
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group">
                            <input type="text" class="form-control" name="query" id="field_query" formControlName="query" placeholder="{{'home.search_student_hint' | translate}}"/>
                        </div>
                        <div>
                            <button class="btn btn-primary float-right jh-create-entity create-score">
                                <fa-icon [icon]="'search'"></fa-icon>
                                <span  jhiTranslate="home.search">
                                Tìm kiếm
                            </span>
                            </button>
                        </div>
                    </div>
                </form>
                <div style="margin-bottom: 10px; clear: both"></div>
            </div>

            <div class="table-responsive" *ngIf="students?.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                    <tr>
                        <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.studentID">Student ID</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.fullname">Fullname</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.sex">Sex</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.birthDay">Birth Day</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.birthPlace">Birth Place</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.chuyenNganh">Chuyen Nganh</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.lop">Lop</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.khoa">Khoa</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.khoaHoc">Khoa Hoc</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.heDaoTao">He Dao Tao</span></th>
                        <th scope="col"><span jhiTranslate="vnuaServerApp.student.coVanHocTap">Co Van Hoc Tap</span></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let student of students ;">
                        <td><a [routerLink]="['/student', student.id, 'view' ]">{{student.id}}</a></td>
                        <td>{{student.studentID}}</td>
                        <td>{{student.fullname}}</td>
                        <td>{{student.sex}}</td>
                        <td>{{student.birthDay | date:'mediumDate'}}</td>
                        <td>{{student.birthPlace}}</td>
                        <td>{{student.chuyenNganh}}</td>
                        <td>{{student.lop}}</td>
                        <td>{{student.khoa}}</td>
                        <td>{{student.khoaHoc}}</td>
                        <td>{{student.heDaoTao}}</td>
                        <td>{{student.coVanHocTap}}</td>
                        <td class="text-right">
                            <div class="btn-group">
                                <button type="submit"
                                        [routerLink]="['/student', student.id, 'view' ]"
                                        class="btn btn-info btn-sm">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
